---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";

Astro.response.status = 404;
Astro.response.statusText = "Not found";
---

<Layout title="Not found | Institut 4000">
  <div class="flex min-h-screen flex-col justify-between bg-black">
    <Navbar addSlash client:load />
    <div class="h-20"></div>
    <CTA title={"Beam me up, Scotty!"} href={"/"}>
      A little lost? Let's try again right from the start.
    </CTA>
    <Footer />
  </div>
</Layout>
