---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import CaseStudies from "../components/CaseStudies.astro";

import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Institut 4000">
  <Navbar client:idle />
  <Hero />
  <About />
  <Services />
  <CaseStudies />
  <!-- <main
    class="prose mx-auto flex h-screen max-w-screen-md flex-col justify-center p-4 md:p-8"
  >
    <h1 data-aos="fade-up">Coming Soon</h1>
    <p data-aos="fade-up" data-aos-delay="300">
      Ready to bring your ideas to life? I'm Niels, a development enthusiast
      with a passion for design and entrepreneurship. Through <strong
        >Institut 4000</strong
      >, my personal brand, I offer comprehensive development, design,
      consulting, and product management services to help business owners,
      creatives, and idea-driven individuals succeed.
    </p>
    <p data-aos="fade-up" data-aos-delay="600">
      By choosing to work with me and <strong>Institut 4000</strong>, you can
      expect top-quality, user-friendly solutions tailored to your specific
      needs. Let's turn your ideas into a reality together and help your
      business thrive!
    </p>
    <a
      data-aos="fade-up"
      data-aos-delay="900"
      href="mailto:niels@institut4000.io?subject=Project%20Proposal%3A"
      >niels@institut4000.io</a
    >
  </main> -->
  <CTA />
  <Footer />
</Layout>
