---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 data-aos="fade-up">Coming Soon</h1>
    <p data-aos="fade-up" data-aos-delay="300">Coming Soon</p>
    <p data-aos="fade-up" data-aos-delay="600">Coming Soon</p>
  </main>
</Layout>
