---
import Container from "../layouts/Container.astro";
---

<Container
  className={"relative overflow-hidden py-36 sm:py-44"}
  backgroundColor={"#000"}
>
  <div class="h-20"></div>
  <div
    data-aos="zoom-in"
    class="z-30 flex flex-col items-start justify-center space-y-10 md:items-center lg:space-y-20"
  >
    <h1
      class="w-full text-center text-4xl font-bold text-white md:text-6xl lg:text-8xl"
    >
      I love to create<br />digital experiences.
    </h1>

    <div class="flex w-full justify-center">
      <a
        href={"#contact"}
        class="inline-block select-none rounded-md bg-white px-6 py-2.5 text-center text-black transition hover:bg-opacity-90"
      >
        Let's create one!
      </a>
    </div>
  </div>
</Container>
